<label>Recommendations:</label>
<div>
    <div class="input-group col-md-12">
        <input 
	        type="text"
			class="form-control" 
			name="recommendations" 
			ng-model="recom" 
			ng-pattern='/^[a-zA-Z0-9-" ]*$/' 
			placeholder="Enter recommendations">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="vm.showRecommended(recom)">Add
      	<span class="input-group-btn"></span> 
        </button>
        </span>
    </div>
</div>
<table id="recomTable">
<tr ng-repeat="recom in data track by $index">
    <td><input type="text" ng-model="recom" ng-show="vm.isEditable[$index]"><li ng-hide="vm.isEditable[$index]">{{recom}}</li></td>
    <td><button type="button" ng-click="vm.editRecom($index)"><span ng-show="vm.isEditable[$index]" class="glyphicon glyphicon-floppy-disk"></span><span ng-hide="vm.isEditable[$index]" class="glyphicon glyphicon-pencil"></span></button>        
    <button type="button" ng-click="vm.deleteRecom(recom)"><span class="glyphicon glyphicon-trash"></span></button>
    </td>
 </tr>
  
</table>

<br>	