<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
</head>
<body>

<div class="container">
<h2>Add/Edit country</h2>
    <form name="form" novalidate>
    <div class="form-group">
    <label name="country">Name of the country<span>*</span>:</label>
    <input 
      type="text" 
      name="countryName" 
      ng-model="countryName" 
      class="form-control" 
      ng-pattern='/^[a-zA-Z0-9-" ]*$/' 
      placeholder="Enter country name" 
      ng-class="{'input-invalid': form.countryName.$invalid && form.$submitted}"
      required >
    <div ng-messages="form.countryName.$error" ng-show="form.countryName.$touched || form.$submitted">
      <p ng-message="required">Please, enter country name.</p>
    </div>
    <span ng-show="form.countryName.$error.pattern">No special symbols allowed!</span>
      <div class="form-group">
      <label name="capitalName">Capital of the country<span>*</span>:</label>
      <input type="text" name="capitalName" class="form-control" ng-model="capitaName" id="capital" placeholder="Enter capital name" ng-pattern='/^[a-zA-Z0-9-" ]*$/' required>
    </div>
     <span ng-show="form.capitalName.$touched && form.capitalName.$invalid">Please, enter capital name.</span>
     <span ng-show="form.capitalName.$error.pattern">No special symbols allowed!</span>
    <div class="form-group">
      <label name="flagUrl">Flag of the country<span>*</span>:</label>
      <input type="url" name="flagUrl" ng-model="flagUrl" class="form-control"  id="url" placeholder="Enter URL" required>
      <span ng-show="form.flagUrl.$touched && form.flagUrl.$invalid">Please, enter valid URL!</span>
    </div>
    <div class="form-group">
      <label name="language">Language:</label>
      <input type="text" class="form-control" name="language" ng-model="language" ng-pattern='/^[a-zA-Z0-9-" ]*$/' placeholder="Enter language">
      <span ng-show="form.language.$error.pattern">No special symbols allowed!</span>
    </div>
     <div class="form-group">
      <label name="currency">Currency:</label>
       <input type="number" id="currency" class="form-control" name="currency" ng-model="currency" placeholder="Enter currency" min="1" >
       <input type="text" id="symbol" class="form-control">
      <span ng-show="form.currency.$invalid">Invalid information!</span>
    </div>

    <div class="form-group">
      <label name="population">Population:</label>
      <input type="number" name="population" ng-model="population" class="form-control" min="1" placeholder="Enter number of population">
      <span ng-show="form.population.$invalid">Invalid information!</span>
    </div>
    <div class="form-group">
      <label name="size">Size (km²):</label>
      <input type="number" name="size" ng-model="size" class="form-control" min="1" placeholder="Enter size of country">
      <span ng-show="form.size.$invalid">Invalid information!</span>
    </div>
      <div class="form-group">
      <label name="description">Description:</label>
      <input type="text" class="form-control" name="description" ng-pattern='/^[a-zA-Z0-9-" ]*$/' ng-model="descr" placeholder="Enter a description">
      <span ng-show="form.description.$error.pattern">No special symbols allowed!</span>
    </div>

      <div>
        <recommended></recommended>
        <ui-view></ui-view>       
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

</body>
</html>

