<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
</head>
<body>

<div class="container">
<h2>Add/Edit country</h2>
    <form name="form">
    <div class="form-group">
    <label name="country">Name of the country<span>*</span>:</label>
    <input type="text" name="countryName" ng-model="countryName" class="form-control" id="country" ng-pattern="/^[a-zA-Z0-9- ]*$/" placeholder="Enter country name" required>
    <span ng-show="form.countryName.$touched && form.countryName.$invalid">Please, enter country name.</span>
    <span ng-show="form.countryName.$error.pattern">No special symbols allowed!</span>
      <div class="form-group">
      <label name="capitalName">Capital of the country<span>*</span>:</label>
      <input type="text" name="capitalName" class="form-control" ng-model="capitaName" id="capital" placeholder="Enter capital name" ng-pattern="/^[a-zA-Z0-9- ]*$/" required>
    </div>
     <span ng-show="form.capitalName.$touched && form.capitalName.$invalid">Please, enter capital name.</span>
     <span ng-show="form.capitalName.$error.pattern">No special symbols allowed!</span>
    <div class="form-group">
      <label name="flagUrl">Flag of the country<span>*</span>:</label>
      <input type="url" name="flagUrl" ng-model="flagUrl" class="form-control" ng-pattern="https?://.+" id="url" placeholder="Enter URL" required>
      <span ng-show="form.flagUrl.$touched && form.flagUrl.$invalid">Please, enter valid URL!</span>
    </div>
    <div class="form-group">
      <label name="language">Language:</label>
      <input type="text" class="form-control" placeholder="Enter language">
    </div>
     <div class="form-group">
      <label name="currency">Currency:</label>
      <input type="number" class="form-control" name="currency" ng-model="currency" placeholder="Enter currency" min="1">
      <span ng-show="form.currency.$invalid">Invalid information!</span>
    </div>

    <div class="form-group">
      <label name="population">Population:</label>
      <input type="number" name="population" ng-model="population" class="form-control" min="1" placeholder="Enter number of population">
      <span ng-show="form.population.$invalid">Invalid information!</span>
    </div>
    <div class="form-group">
      <label name="size">Size (km²):</label>
      <input type="number" name="size" ng-model="size" class="form-control" min="1" placeholder="Enter size of country">
      <span ng-show="form.size.$invalid">Invalid information!</span>
    </div>
      <div class="form-group">
      <label name="description">Description:</label>
      <input type="text" class="form-control" placeholder="Enter a description">
    </div>
      <div class="form-group">
      <label name="recommendations">Recommendations:</label>
      <input type="text" class="form-control" placeholder="Enter recommendations">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>

</body>
</html>

