form-state {
	span {
		color: red;
	}

	input.ng-invalid {
		border-color: red;
		background-color: #ffffcc;
	}

	input.ng-valid {
		border-color: lightgreen;
	}

	input.ng-untouched {
		border-color: lightgrey;
		background-color: white;
	}
}