<div class="jumbotron">
	<div class="content" ng-repeat="countrieInfo in countrieInfoData ">
		<h2 name="countrie-name">{{countrieInfo.countrieName}}</h2>
		<div class="row">
			<div class="col-md-7">
				<div class="col-md-6">
					<img class="flag" ng-src="{{countrieInfo.flagUrl}}"/>
				</div>
				<h3>Description </h3>
				<p class="description">{{countrieInfo.description}}</p>
				<ul>Recomendations
					<li ng-repeat="recomendations in countrieInfo.recomendations">
						{{recomendations}}
					</li>
				</ul>
			</div>
			<div class="col-md-5">
				<p>Capital name :{{countrieInfo.capitalName}}</p>
				<p>Language :{{countrieInfo.language}}</p>
				<p>Currency :{{countrieInfo.currency}}</p>
				<p>Population :{{countrieInfo.population}}</p>
				<p>Size :{{countrieInfo.size}}</p>
				<map zoom="6" center="[{{countrieInfo.lat}}, {{countrieInfo.lan}}]">
				<marker position="[{{countrieInfo.lat}}, {{countrieInfo.lan}}]" animation="Animation.BOUNCE"></marker>
				</map>
			</div>
		</div>
	</div>
</div>
